In [1]:
##tuples Creation 
number = tuple([1,2,34,5,6])
number

(1, 2, 34, 5, 6)

In [2]:
list([1,1,23,5,8])

[1, 1, 23, 5, 8]

In [4]:
mixed_tuple = tuple(("bala",1,31.14,True))
print(mixed_tuple)

('bala', 1, 31.14, True)

In [3]:
# Accessing the tuple elements
number = (1,2,3,4,5,6)

In [4]:
number

(1, 2, 3, 4, 5, 6)

In [6]:
number[0] #We cannot use the open brackets to access it.

1

In [7]:
number[::-1] # reversing of the list take place

(6, 5, 4, 3, 2, 1)

In [10]:
# Tuple Operations
mixed_tuple = (("bala",1,31.14,True))

In [11]:
add = number + mixed_tuple
print(add)

(1, 2, 3, 4, 5, 6, 'bala', 1, 31.14, True)

In [12]:
mixed_tuple*3

('bala', 1, 31.14, True, 'bala', 1, 31.14, True, 'bala', 1, 31.14, True)

In [13]:
number*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [14]:
#immutable nature of tuples
print(number.count(2))

1

In [15]:
print(number.index(1))

0

In [16]:
#Packing and Unpacking tuples
packed_tuple = 1,3.14,"hello" # packing a tuple
print(packed_tuple)

(1, 3.14, 'hello')

In [17]:
#Unpacking a tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
3.14
hello

In [19]:
#unpacking with a *
number = (1,2,3,4,5,6)
first,*middle,last = number
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [20]:
#Nested List
#Nested Tuple
lst = [[1,2,3,4],[5,6,7,8],[1,3.14,9]]
lst[0][0:3]

[1, 2, 3]

In [22]:
#Nested Tuple
nested_tuple = ((1,2,3,4),(5,6,7,8),(1,3.14,9))
print(nested_tuple[0][2])

3

In [24]:
# Iterating over the Nested Tuples 
for sub_tuples in nested_tuple:
    for item in sub_tuples:
        print(item,end=" ")
    print()

1 2 3 4
5 6 7 8
1 3.14 9